<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Finanza - Financial Services Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt text-primary me-2"></i>1220, Eros Corporate Park, Sector-2, Manesar, Haryana, India</small>
                
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small><i class="fa fa-envelope text-primary me-2"></i>citl.hrms@gmail.com</small>
                <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>+91-8368270347</small>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="display-5 text-primary m-0">Credence International</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About CITL</a>
                    <a href="service.html" class="nav-item nav-link">About MAES</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-light m-0">
                            <a href="project.html" class="dropdown-item">Projects</a>
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="team.html" class="dropdown-item">Team Member</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <!-- <div class="d-none d-lg-flex ms-2">
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-facebook-f text-primary"></small>
                    </a>
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-twitter text-primary"></small>
                    </a>
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-linkedin-in text-primary"></small>
                    </a>
                </div> -->
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-8">
                                    <p
                                        class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                                        Welcome to Credence International</p>
                                    <h1 class="display-1 mb-4 animated slideInDown">Your Apprentice Is Our Goal
                                    </h1>
                                    <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <p
                                        class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                                        Welcome to Credence International</p>
                                    <h1 class="display-1 mb-4 animated slideInDown">True Placement Support For You</h1>
                                    <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->










    <section class="section section-lg bg-gray-1" style="background: #f5f5f5;">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-9 col-lg-7 wow-outer">
                    <div class="wow slideInDown">
                        <h3>Recently Added pros</h3>
                        <p>These are some of the recently added pros</br>
                        We have the complete list of pros at the bottom.
                        </p>
                        
                    </div>
                </div>
            </div>
    
            <div class="row row-50" id="myUL">
                
                <% for(var x = pro.length -1 ; x > pro.length-4 ; x--) { %>
                <div class="col-md-6 col-lg-4 wow-outer">
                    <div class="wow fadeInUp">
                        <article class="box-causes"
                            style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                            <form method="post">
                                <input name="regid" type="hidden" value="<%=pro[x].regid%>">
                                <div class="box-causes-img"><img src="/<%= pro[x].logo %>" alt=""
                                        width="396px" height="372px" /><button type="submit"
                                        class="button button-sm button-primary">Know More</button>
                                </div>
                                <h4 class="font-weight-medium"><%=pro[x].name %></h4></br>
                                <p class="box-causes-donate" style="text-transform: none;">Total Amount
                                    Donated:<%=pro[x].donationtillnow%>
                                    
                               
                                </p>
                            </form>
                        </article>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
     </section>
    
    
    
                        <section class="parallax-container bg-gray-600" style="background:rgb(75, 184, 211);"
                            data-parallax-img="https://scontent.fdel12-1.fna.fbcdn.net/v/t1.0-9/91334858_1422290077951256_1436459903865585664_o.jpg?_nc_cat=104&_nc_sid=8024bb&_nc_ohc=_lF48X9cklAAX-w6cc3&_nc_ht=scontent.fdel12-1.fna&oh=34674e3776dadb3b37fe37ee3e75d9ef&oe=5F18F10A" style="background-size: 100% 100%;background-attachment: inherit;">
                            <div class="parallax-content section-xxl text-center">
                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                                            <div class="innset-xl-right-30 innset-xl-left-30">
                                                <div class="wow slideInDown">
                                                    <h3>Charity never humiliated him who profited from it, nor ever bound
                                                        him by the chains of gratitude, since it was not to him but to God
                                                        that the gift was made.</h3>
                                                    </br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
    
    
    
    
    
                        <section class="section section-lg bg-gray-1">
                            <div class="container">
                                <div class="row justify-content-center text-center">
                                    <div class="col-md-9 col-lg-7 wow-outer">
                                        <div class="wow slideInDown">
                                            <h3>pro LIST</h3>
                                            <p>SHUDDHI pro is a registered pro</br>
                                                Non Governmental Organisation
                                                ​working together with Partners, other pros &
                                                ​Local Communities in India &
                                                ​Globally to improve
                                                Environment ​& Human Well-Being.</p>
                                            <br>
                                            <div align="center"><img
                                                    src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png"
                                                    style="height:50px;width:50px;">
                                                <input id="searchbar" onkeyup="search_pro()" type="text" name="search"
                                                    style="outline:0;border:0;border-radius:0;width:50%;background:transparent;border-bottom:2px solid black;"
                                                    placeholder="Search pro..">
                                            </div> </br></br>
                                        </div>
                                    </div>
                                </div>
    
                               
    
    
                                <div class="row row-50" id="my">
    
                                    <% var length = pro.length %>
                                    <% var mod = ((pro.length)%3) %>
                                    <% var k = 0 %>
    
    
                                    <% if(length < 7){ %>
                                    <% for(var i = 0; i < (parseInt((pro.length)/3)); i++) { %>
                                    <% for(var j = 0; j < 3; j++) { %>
                                    <div class="col-md-6 col-lg-4 wow-outer">
                                        <div class="wow fadeInUp">
                                            <article class="box-causes"
                                                style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                                <form method="post">
                                                    <input name="regid" type="hidden" value="<%=pro[k].regid%>">
                                                    <div class="box-causes-img"><img src="/<%= pro[k].logo %>" alt=""
                                                            width="396px" height="372px" /><button type="submit"
                                                            class="button button-sm button-primary">Know More</button>
                                                    </div>
                                                    <h4 class="font-weight-medium" id="sortme"><%=pro[k].name %></h4></br>
                                                    <p class="box-causes-donate" style="text-transform: none;">Total Amount
                                                        Donated:<%=pro[k].donationtillnow%>
                                                        </br></p>
                                                    <% k++ %>
                                                </form>
                                            </article>
                                        </div>
                                    </div>
                                    <% } %>
                                    <br>
                                    <% } %>
                                    <% for(var m = 0; m < mod; m++) { %>
                                    <div class="col-md-6 col-lg-4 wow-outer">
                                        <div class="wow fadeInUp">
                                            <article class="box-causes"
                                                style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                                <form method="post">
                                                    <input name="regid" type="hidden" value="<%=pro[k].regid%>">
                                                    <div class="box-causes-img"><img src="/<%= pro[k].logo %>" alt=""
                                                            width="396px" height="372px" /><button type="submit"
                                                            class="button button-sm button-primary">Know More</button>
                                                    </div>
                                                    <h4 class="font-weight-medium" id="sortme"><%=pro[k].name %></h4></br>
                                                    <p class="box-causes-donate" style="text-transform: none;">Total Amount
                                                        Donated:<%=pro[k].donationtillnow%>
                                                        </br></p>
                                                    <% k++ %>
                                                </form>
                                            </article>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% } %>
                                    <% if(length > 6){ %>
                                    <% for(var i = 0; i < 2; i++) { %>
                                    <% for(var j = 0; j < 3; j++) { %>
                                    <div class="col-md-6 col-lg-4 wow-outer">
                                        <div class="wow fadeInUp">
                                            <article class="box-causes"
                                                style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                                <form method="post">
                                                    <input name="regid" type="hidden" value="<%=pro[k].regid%>">
                                                    <div class="box-causes-img"><img src="/<%= pro[k].logo %>" alt=""
                                                            width="396px" height="372px" /><button type="submit"
                                                            class="button button-sm button-primary">Know More</button>
                                                    </div>
                                                    <h4 class="font-weight-medium" id="sortme"><%=pro[k].name %></h4></br>
                                                    <p class="box-causes-donate" style="text-transform: none;">Total Amount
                                                        Donated:<%=pro[k].donationtillnow%>
                                                        </br></p>
                                                    <% k++ %>
                                                </form>
                                            </article>
                                        </div>
                                    </div>
                                    <% } %>
                                    <br>
                                    <% } %>
                                   <span id="dots"></span> <span id="more">
                                        <% for(var i = 0; i < (parseInt((length-6)/3)); i++) { %>
                                        <% for(var j = 0; j < 3; j++) { %>
                                        <div class="col-md-6 col-lg-4 wow-outer" >
                                            <div class="wow fadeInUp">
                                                <article class="box-causes"
                                                    style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                                    <form method="post">
                                                        <input name="regid" type="hidden" value="<%=pro[k].regid%>">
                                                        <div class="box-causes-img"><img src="/<%= pro[k].logo %>" alt=""
                                                                width="396px" height="372px" /><button type="submit"
                                                                class="button button-sm button-primary">Know More</button>
                                                        </div>
                                                        <h4 class="font-weight-medium" id="sortme"><%=pro[k].name %></h4></br>
                                                        <p class="box-causes-donate" style="text-transform: none;">Total
                                                            Amount Donated:<%=pro[k].donationtillnow%>
                                                            </br></p>
                                                        <% k++ %>
                                                    </form>
                                                </article>
                                            </div>
                                        </div>
                                        <% } %>
                                        <br>
                                        <% } %>
                                        <% for(var m = 0; m < mod; m++) { %>
                                        <div class="col-md-6 col-lg-4 wow-outer">
                                            <div class="wow fadeInUp">
                                                <article class="box-causes"
                                                    style="border:2px solid black;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                                    <form method="post">
                                                        <input name="regid" type="hidden" value="<%=pro[k].regid%>">
                                                        <div class="box-causes-img"><img src="/<%= pro[k].logo %>" alt=""
                                                                width="396px" height="372px" /><button type="submit"
                                                                class="button button-sm button-primary">Know More</button>
                                                        </div>
                                                        <h4 class="font-weight-medium" id="sortme"><%=pro[k].name %></h4></br>
                                                        <p class="box-causes-donate" style="text-transform: none;">Total
                                                            Amount Donated:<%=pro[k].donationtillnow%>
                                                            </br></p>
                                                        <% k++ %>
                                                    </form>
                                                </article>
                                            </div>
                                        </div>
                                        <% } %>
                                    </span>
                                  
                                </br>
    <% } %>
                            </div>
                            <br><br>
                            <button onclick="myFunction()" id="myBtn" class="button button-sm button-primary">Show
                            more</button>
                          </div>
                        </section>
    
                        <script>
                            function search_pro() {
                                let input = document.getElementById('searchbar').value
                                input = input.toLowerCase();
                                let x = document.getElementsByClassName('col-md-6');
                                for (i = 0; i < x.length; i++) {
                                    if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                        x[i].style.display = "none";
                                    }
                                    else {
                                        x[i].style.display = "inline-block";
                                    }
                                }
                            }
                            function sortList() {
       
                                var list, i, switching, b, shouldSwitch;
      list = document.getElementById("my");
      switching = true;
      while (switching) {
        switching = false;
        b = list.getElementsByClassName("font-weight-medium");
        for (i = 0; i < (b.length - 1); i++) {
          shouldSwitch = false;
          if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          b[i].parentNode.parentNode.parentNode.parentNode.parentNode.insertBefore(b[i + 1].parentNode.parentNode.parentNode.parentNode, b[i].parentNode.parentNode.parentNode.parentNode);
          switching = true;
        }
      }
                            }
                            //window.onload(sortList());
                            function myFunction() {
                                var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");
      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Show more"; 
        moreText.style.display = "none";
        window.onload(sortList());
        window.refresh;
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Show less"; 
        moreText.style.display = "block";
       window.onload(sortList());
      }
                            }
                        </script>







































    
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4 align-items-end mb-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="img/about.jpg">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">About Us</p>
                    <h1 class="display-5 mb-4">Credence International</h1>
                    <p class="mb-4">We are Government Authorised Third Party Aggregator(TPA) for National Apprentice Promotional Scheme (NAPS) and National Apprentice Training Scheme (NATS).

                    </p>
                    <div class="border rounded p-4">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link fw-semi-bold active" id="nav-story-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                                    aria-selected="true">Story</button>
                                <button class="nav-link fw-semi-bold" id="nav-mission-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                    aria-selected="false">Mission</button>
                                <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                    aria-selected="false">Vision</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                                aria-labelledby="nav-story-tab">
                                <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore.</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                            <div class="tab-pane fade" id="nav-mission" role="tabpanel"
                                aria-labelledby="nav-mission-tab">
                                <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore.</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                                <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore.</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-times text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Guaranteed Earning</h4>
                                    <span>Earning of upto Rs.3500/apprentice/month</span>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Dedicated Team</h4>
                                    <span>A dedicated team of 50+ people</span>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>24X7 Available</h4>
                                    <span>Hard working team working around the clock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-fluid facts my-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">25</h1>
                    <span class="fs-5 text-white">Happy Clients</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-check fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">2000</h1>
                    <span class="fs-5 text-white">Current working Apprentice</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">1000</h1>
                    <span class="fs-5 text-white">Passed Apprentice</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-award fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">8</h1>
                    <span class="fs-5 text-white">states presence</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- Features Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>
                    <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                        eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <a class="btn btn-primary py-3 px-5" href="about.html">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">Government Authorised TPA</h4>
                                        <p class="mb-3">Government Authorised Third Party Aggregator for Both NAPS and NATS</p>
                                        
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">Great Service</h4>
                                        <p class="mb-3">Best service in the market</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="feature-box border rounded p-4">
                                <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Guaranteed Claim</h4>
                                <p class="mb-3">Very transparent and genuine way of working</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Services</p>
                <h1 class="display-5 mb-5">Why is it so important to have Apprentices at work?</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Having Apprentice is Mandatory as per law</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Apprentices are trainees</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Zero paperwork</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Why to choose TPA?</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/service-1.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">It is Mandatory to keep apprentices as per Indian Constitution</h3>
                                    <p class="mb-4">Minimum 2.5% of the total manpower must be the apprentice in every organisation.
                                        Not doing so is against the law and can fine upto Rs.1000 per month per shortfall.
                                    </p>
                                    <p>Benefits of keeping apprentices:</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Rs.4 lac/month direct financial benifit</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Abiding Government law</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>No ESI | No PF</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Very low attrition</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/service-2.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Apprentices are trainees</h3>
                                    <p class="mb-4">Every apprentice undergoing apprenticeship training in an
                                        establishment shall be a trainee and not a worker and as such any
                                        provisions of the law with respect of labor shall not apply to or in
                                        relation to such apprentice.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>No strike</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>No Labour Laws</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>No Liability</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/service-3.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Zero Paperwork</h3>
                                    <p class="mb-4">Company don't need to do anything. Everything will be done by us. Everything is
                                        included in the services at very minimal cost.<br> Our services include:
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Company Registration </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Candidate registration</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Payroll processing</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Claim reimbursement formalities up to Claim settlement</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="img/service-4.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Why to choose TPA</h3>
                                    <p class="mb-4">Third Party Aggregator are authorised from <b>Government of India</b>.
                                    Therefore, we are credible and responsible for everything. 
                                    Why should you choose us? </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Very transparent and professianal work</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Zero Hassles</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>High credibility</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Guaranteed Financial Benefit</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Low service charge</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Callback Start -->
    <div class="container-fluid callback my-5 pt-5">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Get In Touch
                            </p>
                            <h1 class="display-5 mb-5">Request A Call-Back</h1>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                    <label for="mail">Your Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                    <label for="mobile">Your Mobile</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                        style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Callback End -->


    <!-- Projects Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Projects</p>
                <h1 class="display-5 mb-5">We Have Completed Latest Projects</h1>
            </div>
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.3s">
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="img/service-1.jpg" alt="">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Financial Planning</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="img/service-2.jpg" alt="">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Cash Investment</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="img/service-3.jpg" alt="">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Financial Consultancy</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="img/service-4.jpg" alt="">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Business Loans</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Projects End -->


    <!-- Team Start -->
    
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Clients</p>
                <h1 class="display-5 mb-5">Some of our Clients!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s">
                <div class="testimonial-item">
                    <img class="rounded-circle mb-3" src="img/rpl.jpg" alt="">
                    <h4>Roop Polymers</h4>
                </div>
                <div class="testimonial-item">
                    <img class="rounded-circle mb-3" src="img/stl.jpeg" alt="">
                    <h4>Sterling Tools Limited</h4>
                </div>
                <div class="testimonial-item">
                    <img class="rounded-circle mb-3" src="img/napino.jpg" alt="">
                    <h4>Napino Limited</h4>
                </div>
                <div class="testimonial-item">
                    <img class="rounded-circle mb-3" src="img/argl.webp" alt="">
                    <h4>ARGL Limited</h4>
                </div>
                <div class="testimonial-item">
                    <img class="rounded-circle mb-3" src="img/oc.jpeg" alt="">
                    <h4>Orient Cables</h4>
                </div> 
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>1220, Eros Corporate Park, Sector-2, Manesar, Haryana, India</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91-8368270347</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>citl.hrms@gmail.com</p>
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <a class="btn btn-link" href="">Financial Planning</a>
                    <a class="btn btn-link" href="">Cash Investment</a>
                    <a class="btn btn-link" href="">Financial Consultancy</a>
                    <a class="btn btn-link" href="">Business Loans</a>
                    <a class="btn btn-link" href="">Business Analysis</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->

    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>